.caixaPrincipal {
    background-image: linear-gradient(to bottom, #d7e7ed, white)
}

.caixa1 {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.050);
    margin-top: 50px;

}

.caixa2 {
    margin-top: 30px;
}

.caixa3{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.050);
}

.caixa4 {
    margin-top: 30px;
}


.txtcolor {
    text-align: justify;
    color: #224a59
}

.img {
    background-image: url(https://i.imgur.com/lmz7tPu.png);
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-position: center;
    min-height: 50vh;
}

.img2 {
    background-image: url(https://i.imgur.com/vfWngqB.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 49vh;
}

.img3 {
    background-image: url(https://i.imgur.com/uDLMjiE.png);
    background-repeat: no-repeat;
    
    background-position: center;
    min-height: 52vh;
}

.img4 {
    background-image: url(https://i.imgur.com/hIqtBHB.png);
    background-repeat: no-repeat;
    width: 60vh;
    min-height: 60vh;
    background-position: center;
}

.container{
    display:flex; 
    flex-direction: column;
    padding-left: 80px; ;
    text-align: center;
}