.imgdev {
    width: 200px !important;
    height: 200px !important;
    margin-top: 30px;
}

.imgprincipal {
    width: 500px !important;
    height: 500px !important;
}

.fundo {
    background-color: white !important;
}

.margem-dev {
    margin-top: 50px !important;
}