.caixatexto-color {
    background-color: white !important;
}

.tamanhocaixa-tema {
    width: 300px !important;
    margin-top: 30px;
}

.margemcaixa-tema {
    margin-top: 40px;
}

.borda-cor {
    border-color: #c1c2bd !important;
}

.paddingPost{
    padding-top: 20px;
    padding-bottom: 20px;
}


.txtFieldColor-post{
    color:#353535 !important; 
}

.btnColorBluecp {
    background-color:#224a59!important
    }

.btmargem-top {
    margin-top: 15px !important;
}

.centro-botao {
    justify-content: right !important;
    align-items: center !important;
}

.tamanho-t-p {
    width: 100% !important;
}

.tamanho-t {
    width: 50% !important;
    justify-content: center !important;
    align-items: center !important;
}

.tamanho-p {
    width: 30% !important;
}
