.box{
    background-color: #5890A6;
}
.box1{
    background-color: #5890A6;
}

.box2{
    background-color: #2D6673;
}

.text-decoration-none{
    text-decoration: none;
}

.textos{
    color: white;
}

.tales{
    font-family: Quintessential !important ;
    color: white;
}